<div mat-dialog-title class="my-dialog-header">
  <div>
    <h5>Add Friends</h5>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>

  <mat-form-field [formGroup]="fGroup">
    <mat-label>Search
      <mat-icon matSuffix>search</mat-icon>
    </mat-label>
    <input matInput placeholder="Search" formControlName='searchControl'>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-list>
    <mat-list-item *ngFor="let request of requestsTo">
      <span mat-list-avatar class="avatar">
        <img src="{{ getImageUrl(request.fromUser.image)}}" alt="contact.userName">

      </span>
      <h3 mat-line>{{request.fromUser.userName}}</h3>

      <p mat-line>
        <span>{{request.fromUser.statusMessage}}</span>
      </p>
      <button mat-icon-button matTooltip="Accept" (click)="acceptRequest(request.id)">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Remove" (click)="removeRequest(request.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <div style="height: 120px;" *ngIf="isLoaddingRequests">
      <mat-spinner style=" margin:0 auto;" [strokeWidth]="5" ></mat-spinner>
    </div>
    <mat-divider *ngIf="requestsTo.length>0"></mat-divider>
    <mat-list-item *ngFor="let user of users">
      <span mat-list-avatar class="avatar">
        <img src="{{ getImageUrl(user.image)}}" alt="user.userName">

      </span>
      <h3 mat-line>{{user.userName}}</h3>

      <p mat-line>
        <span>{{user.statusMessage}}</span>
      </p>
      <button mat-icon-button matTooltip="Add" *ngIf="!hasRequestFrom(user.id)" (click)="sendRequest(user.id)">
        <mat-icon>person_add</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Remove" *ngIf="hasRequestFrom(user.id)" (click)="removeRequest(null,user.id)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-list-item>
    <div style="height: 120px;" *ngIf="isLoaddingContacts">
      <mat-spinner style=" margin:0 auto;" [strokeWidth]="5" ></mat-spinner>
    </div>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
